/*
Name : Go - Tours & Travel Mobile Template
Author : Ngetemplates
Author URL : https://themeforest.net/user/ngetemplates
/* --------------------------------
Table of Contents
- General
- Navbar
- Side Nav
- Slider
- Logi & Register
- Search Form
- Popular
- Promo
- Tours & Travel
- Review Users
- Testimonial
- About us
- Blog
- Blog single
- Single Tours
- Search Results
- Shop
- Shop single
- Checkout
- Gallery
- Booking
- Pricing
- Error 404
- Footer   
-------------------------------- */

/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Raleway:400,500,600,700,800,900|Lato:400,700,900');

 
 
/* ------------------------------
  General
---------------------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: #edf2f5;
	color: #999;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	color: #222;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #464646;
}

p {
	margin: 5px 0;
	line-height: 20px;
}

.section {
	padding: 35px 0;
}

.section h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin: 0 0 10px 0;
	font-size: 16px;
}

.pages {
	margin-top: 45px !important;
}

.pages-head {
	text-align: center;
	padding: 0 10px 20px 10px;
	text-transform: uppercase;
}

.pages-head h3 {
	font-size: 20px;
	font-weight: 500;
}

.bg-second {
	background: #f0f4f8;
}

.section-head {
	margin: 0 auto 25px auto;
}

.section-head h4 {
	margin-bottom: 5px;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 600;
}

.section-head .underline {
	width: 30px;
	height: 2px;
	background: #fccb05;
	margin: 10px 0;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search] {
	background-color: transparent;
	border: none;
	border: 1px solid #ddd;
	border-radius: 0;
	outline: none;
	height: 35px;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
	padding: 10px;
}

textarea.materialize-textarea {
	background-color: transparent;
	border: none;
	border: 1px solid #ddd;
	border-radius: 0;
	outline: none;
	height: auto;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 12px 0;
	box-shadow: none;
	box-sizing: border-box;
	transition: all 0.3s;
	padding: 10px;
}


input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #bbb;
  box-shadow: none;
}	

::-webkit-input-placeholder { 
  color: #777;
}
::-moz-placeholder { 
  color: #777;
}
:-ms-input-placeholder { 
  color: #777;
}
:-moz-placeholder {
  color: #777;
}

/* ------------------------------
  Button
---------------------------------*/
.button-default {
	background: #fccb05;
	color: #ffffff;
	box-shadow: none;
	margin: 20px 0 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #fccb05;
	padding: 5px 12px 5px;
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
}

.button-fullwidth {
	width: 100%;
	text-align: center;
}

.button-default a {
	color: #ffffff;
}

.button-default:hover {
	background: #fccb05;
	opacity: 0.9;
	box-shadow: none;
}











.who-we-are .button-default {
	margin-top: 30px;
	background: #fff;
	color: #fccb05;
}

/* ------------------------------
  Navbar
---------------------------------*/
.navbar-top {
	/*background: #232323;*/
	width: 100%;
	height: 60px;
	padding: 6px 18px;
	/*border-bottom: 2px solid #232323;*/
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	position: absolute;
	z-index: 99;
}

.site-brand {
	text-align: center;
	display: inline-block;
}

.site-brand a h1 {
	font-size: 30px;
	font-weight: 900;
	line-height: 45px;
	color: #fccb05;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

.site-brand a h1 span {
	color: #fccb05;
}

/* ------------------------------
  Sidenav
---------------------------------*/
.side-nav a {
	font-size: 14px;
	height: 45px;
	padding: 0 16px;
}

.side-nav li.active {
	background: transparent;
}

.side-nav-panel-left {
	float: left;
	font-size: 28px;
}

.side-nav-panel-right {
	float: right;
	font-size: 28px;
}

.side-nav-left {
	font-size: 28px;
	color: #313131;
}

.side-nav-left i {
	font-size: 20px;
	color: #fccb05;
}
.side-nav-right i {
	font-size: 20px;
	color: #fff;
}

.indicators {
display: none;}

.side-nav {
	 
    background-color: #3b4453;
	background-size: cover;
	background-attachment: fixed;
}

.side-nav-panel {
	text-align: left;
}

.side-nav-panel .profil {
	background-size: cover;
	padding: 40px 0 15px 18px;
	border-top: 0;
}

.side-nav-panel .profil img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.side-nav-panel .profil h2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 5px;
	cursor: default;
}

.side-nav-panel .profil h6 {
	color: #fff;
	font-size: 15px;
}

.side-nav-panel li a {
	color: #fff;
	font-weight: normal;
}

.side-nav-panel li {
	font-weight: 700;
}

.side-nav-panel li:last-child {
	border-bottom: 0px solid #f5f5f5;
	margin-bottom: 80px;
}

.side-nav-panel .li-top {
	padding-top: 10px;
}

.side-nav-panel li a:hover {
	background: transparent;
}

.side-nav-panel li a i {
	margin: 0 16px 0 0;
	font-size: 18px;
	color: #fccb05;
	line-height: 45px;
}

.side-nav-panel-left .collapsible {
	border: 0;
}

.side-nav .collapsible-body ul li a {
	font-weight: normal;
	color: #fff;
	margin-left: 28px;
	font-size: 11px;
	line-height: 43px;
}

.side-nav .collapsible-header {
	padding: 0;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}

.side-nav .collapsible-header > i {
	margin-right: 25px;
}

.side-nav .collapsible-header.active {
	
}

.side-nav .collapsible-body .side-nav-panel li:last-child {
	margin-bottom: 0;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
	background: transparent;
}

.side-nav .collapsible-header:hover {
	background: transparent;
}

.side-nav .collapsible-header.active {
	background: transparent;
}
.mebubottom {
    z-index: 99999;
    position: absolute; 
    color: #fff;
    left: 8%;
    bottom: 0px;
    padding-right: 4%;
}
.menubottom1 {
margin-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
}
.collapsible-header i {
	width: auto;
	font-size: 18px;
	color: #fccb05;
	margin-left: 17px;
}

.collapsible-header span i {
	float: right;
	color: #fff;
	font-size: 14px;
}


/* ------------------------------
  Slider
---------------------------------*/
 

.slider {
	/*margin-top: 58px;*/
	height: 300px;
}

.slider .slides {
	height: 300px;
}
.slider2 {
	height: 200px !important;
}
.slider3 {
	height: 300px !important;
}
.slider4 {
	height: 450px !important;
    background-color: #3d3a5f;
    background-image: 
}
.slider5 {
	height: 350px !important;
    background-color: #3d3a5f;
    background-image: 
}
.slider-content {
	margin: 30px auto;
	top: 30% !important;
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	position: relative;
	flex-shrink: 0;
}

.slider .slides li img {
	width: 100%;
	height: 100%;
}

.slider .slides li::before {
	/*background-color: #000;*/
	opacity: 0.4;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slider-content h2 {
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.slider-content h4 {
	font-size: 14px;
	color: #ffffff;
}

.slider-content .button-default {
	margin: 20px 0;
	padding-top: 4px;
	padding-bottom: 4px;
}

.slider .indicators {
	position: relative;
	bottom: 50px;
	z-index: 95;
	padding: 0 12px;
}

.slider .indicators .indicator-item {
	z-index: 1000;
	height: 8px;
	width: 8px;
	background: #cccccc;
	margin: 0 8px;
}

.slider .indicators .indicator-item.active {
	background: #ffffff;
}

/* ------------------------------
	login register splash
---------------------------------*/
.login-register-wrap-home {
	background:  url(../img/11.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
    width: 100%;
    height: 100%;
}

.login-register-wrap-home {
	text-align: center;
}

.login-register-wrap-home h1 {
	color: #ffffff;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.login-register-wrap-home h6 {
	color: #fff;
}

.login-register-wrap-home .content {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 88%;
}

.login-register-wrap-home .content form {
	margin-top: 50px;
}

.login-register-wrap-home .content form h6 {
	font-size: 14px;
	margin-top: 10px;
	color: #ddd;
}

.login-register-wrap-home .content form h6 a {
	color: #ffcd00;
}

.login-register-wrap-home .content input {
	/*background: rgba(238, 238, 238, 0.35);*/
	border: 0;
	height: 40px;
	/*border-radius: 4px;*/
	margin-bottom: 10px;
	margin-top: 20px;
	height: 33px;
    border-bottom: 1px solid #ffffff;
	color: #fff;
    outline: none;
}

.login-register-wrap-home .content input::-webkit-input-placeholder { 
  	color: #fff;
}

.login-register-wrap-home .content input::-moz-placeholder { 
 	color: #fff;
}

.login-register-wrap-home .content input:-ms-input-placeholder { 
  	color: #fff;
}

.login-register-wrap-home .content input:-moz-placeholder {
  	color: #fff;
}

.login-register-wrap-home .content span {
	font-size: 13px;
	text-align: right;
	display: block;
	margin-top: 10px;
}

.login-register-wrap-home .content span a {
	color: #ddd;
}


.login-register-wrap-home .content .button-default {
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 28px;
}

/* ------------------------------
	search form 
---------------------------------*/
.search-form {
	background: linear-gradient(
		rgba(252, 203, 5, 0.83),
		rgba(252, 203, 5, 0.83)),
		url(../img/parallax.jpg);
	background-size: cover;
}

.search-form .row {
	margin-bottom: 0;
}

.search-form input {
	background: #fff;
	border: 0;
	border-radius: 4px;
	height: 40px;
}

.search-form .button-default {
	background: #232323;
	padding: 6px 20px 7px;
	margin: 0;
}

.search-form .picker__box {
	border: 0;
}

.search-form .picker__date-display {
	background: #161616;
}

.search-form .picker__day-display {
	color: #fccb05;
}

.search-form .picker__weekday-display {
	background: #232323;
}

.search-form .picker__day.picker__day--today {
	color: #fccb05;
}

.search-form .picker__close, .picker__today {
	color: #fccb05;
}

/* ------------------------------
	popular
---------------------------------*/
.popular .content {
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.popular .content:last-child {
	margin-bottom: 0;
}

.popular .content img {
	width: 100%;
}

.popular .content .content-img {
	position: relative;
}

.popular .content .content-img .overlay {
	background: linear-gradient(rgba(35, 35, 35, 0.03),rgba(35, 35, 35, 0.85));
	position: absolute;
	width: 100%;
	height: 100%;
	top: -4px;
}

.popular .content .content-img .overlay span {
	float: right;
	background: #fccb05;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	line-height: 48px;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 6px;
}

.popular .content .text-head ul {
	margin: 6px 0 0;
}

.popular .content .text-head ul li {
	display: inline-block;
	color: #ffb300;
	margin: 0 2px;
}

.popular .content .text-head {
	position: relative;
	top: -63px;
	padding: 0 16px;
	margin-bottom: -60px;
}

.popular .content .text-head h3 {
	font-size: 20px;
}

.popular .content .text-head h3 a {
	color: #fff;
}

.popular .content .text {
	padding: 16px 16px 10px;
}

.popular .content .text .button-default {
	margin-top: 6px;
}

/* ------------------------------
	promo
---------------------------------*/
.promo {
	background: linear-gradient(
		rgba(5, 4, 4, 0.93),
		rgba(5, 4, 4, 0.93)),
		url(../img/parallax.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #eee;
}

.promo h4 {
	color: #fccb05;
}

.promo .button-default {
	margin-top: 10px;
}

/* ------------------------------
	tours travel
---------------------------------*/
.tours-travel {
	padding: 35px 0 15px;
}

.tours-travel .content-wrap {
	border-bottom: 1px solid #ddd;
	margin-bottom: 25px;
}

.tours-travel .content-wrap:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.tours-travel .content-img {
	position: relative;
}

.tours-travel .content-img .overlay {
	top: 0;
	background: #fccb05;
	position: absolute;
	text-align: center;
	color: #fff;
	padding: 3px 10px;
}

.tours-travel .content-img img {
	width: 100%;
}

.tours-travel .content h3 {
	font-size: 18px;
}

.tours-travel .content ul {
	margin: 0;
}

.tours-travel .content ul li {
	display: inline-block;
	color: #ffb300;
	margin: 0 2px;
}

.tours-travel .content .button-default {
	margin-top: 8px;
}

/* ------------------------------
	review users
---------------------------------*/
.review-users {
	text-align: center;
}

.review-users img {
	width: 50px;
	/*height: 100px;
	border-radius: 50%;
	margin-bottom: 8px;*/
}

.review-users ul li {
	display: inline-block;
  
    width: 50%;

        color: #fff;
    cursor: default;
    background-color: #566272;
    border-bottom: 3px solid #98a6b9;
}
.review-users ul li.active {
	display: inline-block;
  
    width: 50%;

        color: #fff;
    cursor: default;
    background-color: #566272;
    border-bottom: 3px solid #ffcd00;
}
.review-users .owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
}

/* ------------------------------
  Testimonial
---------------------------------*/
.testimonial {
	text-align: center;
}

.testimonial img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.testimonial i {
	font-size: 24px;
	margin-bottom: 10px;
	color: #fccb05;
}

.testimonial p {
	font-style: italic;
}

.testimonial h6 {
	font-size: 14px;
	margin: 15px 0;
}

.testimonial .owl-theme .owl-controls .owl-page span {
	width: 8px;
	height: 8px;
}

/* ------------------------------
	pricing table
---------------------------------*/
.pricing-table .content {
	text-align: center;
	background: #fff;
	padding: 20px 10px 15px;
	border-radius: 4px;
}

.pricing-table .content ul {
	margin-bottom: 0;
}

.pricing-table .content h5 {
	font-size: 18px;
	margin-bottom: 5px;
}

.pricing-table .content h5 {
	font-size: 14px;
}

.pricing-table .content span {
	color: #fccb05;
    font-size: 25px;
    margin-bottom: 5px;
    display: block;
}

.pricing-table .content ul li {
	padding: 5px 0;
}

.pricing-table .content



/* ------------------------------
  About us
---------------------------------*/
.about-us {
	margin: 0;
}

.about-us img {
	width: 100%;
	height: 100%;
	margin-bottom: 8px;
}


/* ------------------------------
  Blog
---------------------------------*/
.blog {
	text-align: center;
}

.blog-content img {
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	float: left;
}

.blog-content h5 {
	font-size: 18px;
}

.blog-content .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.blog-content .button-default {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.blog-detailt {
	background: #f6f6f6;
	border-top: 0;
	padding: 20px 16px;
	margin-bottom: 20px;
}

.pagination-blog {
	background: #f6f6f6;
	padding: 20px 0;
}

.pagination-blog ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination-blog ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #777;
	margin: 4px;
	line-height: 28px;
}

.pagination-blog ul .active {
	border-color: #fccb05;
}

/* ------------------------------
  Blog single
---------------------------------*/
.blog-single h5 {
	font-size: 18px;
}

.blog-single img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.blog-single .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.share-post {
	background: #f6f6f6;
	padding: 20px 0;
	margin: 15px 0 25px;
}

.share-post ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.share-post ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid #777;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
	margin: 0 3px;
}

.comment img {
	border-radius: 50%;
}

.comment h5 {
	margin-bottom: 15px;
}

.comment-form .comment-head {
	margin-bottom: 20px;
}

.comment-form .input-field {
	margin-top: 0;
}

.comment-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}


/* ------------------------------
  Single Tours
---------------------------------*/
.single-tours h5 {
	font-size: 18px;
	margin-bottom: 2px;
}

.single-tours ul {
	margin: 0;
	margin-bottom: 8px;
}

.single-tours img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.single-tours .date i {
	margin-right: 5px;
	margin-bottom: 10px;
}

.single-tours .rates li {
	display: inline-block;
	color: #ffb300;
	margin: 0 2px;
}

.share-post {
	background: #f6f6f6;
	padding: 20px 0;
	margin: 15px 0 25px;
}

.share-post ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.share-post ul li {
	display: inline-block;
	text-align: center;
	border: 1px solid #777;
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
	margin: 0 3px;
}

.comment img {
	border-radius: 50%;
}

.comment h5 {
	margin-bottom: 15px;
}

.comment-form .comment-head {
	margin-bottom: 20px;
}

.comment-form .input-field {
	margin-top: 0;
}

.comment-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}

.content-day {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 17px;
}

.content-day h6 {
	margin-bottom: 10px;
}

.content-day img {
	margin-bottom: 0;
}

/* ------------------------------
  Search Results
---------------------------------*/
.search-results h6 {
	margin-bottom: 10px;
}

.search-results  h6 span {
	color: #fccb05;
}

.search-results input {
	margin-bottom: 10px
}

.search-results .button-default {
	margin: 0;
}

/* ------------------------------
  Shop
---------------------------------*/
.shop {
	background: #ffffff;
    border-radius:10px;
	padding: 10px;
	text-align: center;
    height: 90px;
}

.shop img {
	width: 50%; 
}
.txth6 {

    margin: 23px 0 !important; 
    line-height: 14px;}
.shop h6 {
	margin: 5px 0;
	font-size: 11px;
	text-align: center;
}

.shop h6 a {
	color: #333;
}

.shop span {
	color: #fccb05;
	font-size: 20px;
	text-align: center;
}

.shop-pagination {
	background: #f6f6f6;
	padding: 20px 0;
	text-align: center;
}

.shop-pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shop-pagination ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #777;
	margin: 4px;
	line-height: 28px;
}

.shop-pagination ul .active {
	border-color: #fccb05;
}

/* ------------------------------
  Shop single
---------------------------------*/
.shop-single {
	margin: 0;
}

.shop-single img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.shop-single h6 {
	margin-bottom: 5px;
}

.shop-single span {
	color: #fccb05;
	font-size: 20px;
}

.shop-single .button-default {
	margin: 10px 0;
}

.review {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #ddd;
}

.review img {
	border-radius: 50%;
}

.review h5 {
	margin-bottom: 15px;
}

.review-form .review-head {
	margin-bottom: 20px;
}

.review-form .input-field {
	margin-top: 0;
}

.review-form .form-button .button-default {
	margin-top: 0;
	margin-bottom: 0;
}

/* ------------------------------
  Checkout
---------------------------------*/
.checkout .collapsible-header {
	padding-top: 15px;
	padding-bottom: 5px;
}

.checkout .collapsible {
	box-shadow: none;
}

.checkout-content [type="radio"]:not(:checked) + label,
.checkout-content [type="radio"]:checked + label {
	display: block;
}

.checkout-content h5 {
	font-weight: 500;
	color: #555;
	font-size: 18px;
}

.checkout-content .collapsible-body {
	padding: 18px;
}

.checkout-content .collapsible-body p {
	padding: 0;
}

.checkout-content h6 {
	font-weight: 500;
	color: #555;
	font-size: 16px;
}

.checkout-content .checkout-radio {
	margin: 20px 0 10px 0;
}

.checkout-radio span {
	color: #454545;
	font-weight: 500;
}

.checkout-login {
	margin-top: 20px;
	border-top: 1px dotted #ddd;
	padding-top: 30px;
}

.checkout-login h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}

.checkout-login h6 span {
	font-weight: 600;
	color: #555;
	font-size: 18px;
}

.checkout-login p {
	margin: 5px 0 30px;
}

.checkout-login .button-default {
	margin-bottom: 0;
}

.billing-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}

.shipping-information h5 {
	font-weight: 500;
	margin-bottom: 5px;
	color: #666;
	font-size: 14px;
}

.cart-details h5 {
	font-size: 14px;
}

.payment-mode ul {
	margin-left: 35px;
}

.payment-mode ul li {
	display: inline-block;
}

.order-review .cart-product img {
	width: 100%;
	height: 100%;
}

.order-review .row {
	margin-bottom: 0;
}

.final-price {
	margin-top: 20px;
}

.final-price h5 {
	font-weight: 600;
}

.final-price span {
	font-weight: 500;
}


/* ------------------------------
	gallery
---------------------------------*/
.gallery img {
	width: 100%;
	height: 100%;
}

.gallery ul {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	list-style: none;
	margin-bottom: 15px;	
}

.gallery ul li {
	display: inline-block;
	cursor: pointer;
	color: #999;
    padding: 5px 6px;
	margin: 4px 4px;
}

.gallery ul li h5 {
	color: #999;
	padding: 0;
	margin: 0;
}

.gallery .active {
	color: #222;
}

.gallery .active h5 {
	color: #222;
}

.gallery img {
	width: 100%;
	height: 100%;
	float: left;
}

.gallery-content img {
	width: 100% !important;;
	height: 100% !important;
}

.gallery .row {
	padding: 0;
	margin: 0;
}

.gallery .row .col {
    padding: 5px;
    margin: 0;
}

/* ------------------------------
	booking
---------------------------------*/
.booking .content-wrap {
	border: 1px solid #ddd;
	padding: 20px 10px;
	margin-bottom: 25px;
}

.booking img {
	width: 100%;
}

.booking .content h3 {
	font-size: 18px;
	line-height: 23px;
}

.booking .content span {
	color: #fccb05;
	font-size: 15px;
}

.booking .row-border {
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

.booking h6 {
	text-align: right;
}

.booking .button-default {
	margin: 0;
}


/* ------------------------------
  Pricing
---------------------------------*/
.pricing {
	border: 1px solid #ddd;
	text-align: center;
}

.pricing-head {
	padding: 20px 10px;
	background: #eee;
	color: #fccb05;
}

.pricing-head h5 {
	margin-bottom: 0;
}

.pricing-head span {
	font-size: 28px;
}

.pricing ul {
	padding: 10px;
	margin: 0;
}

.pricing ul li {
	padding: 6px 0;
	border-bottom: 1px solid #f5f5f5;
}

.pricing .button-default {
	margin: 10px 0 25px;
}

/* ------------------------------
  Contact, Login, Register
---------------------------------*/
.contact .button-default {
	margin: 0;
}

.contact-us input, 
.contact-us textarea,
.login input, 
.login textarea,
.register input, 
.register textarea {
	border-color: #ddd;
	background: #f6f6f6;
	padding-left: 10px;
	padding-right: 10px;
}

.contact-us .button-default {
	margin-top: 10px;
	margin-bottom: 0;
}

.login .button-default {
	margin-top: 25px;
}

.register .button-default {
	margin-top: 0;
}

.find-us h3 {
	font-size: 18px;
	margin-top: 25px;
}

.find-us ul {
	margin: 10px 0;
}

.find-us ul li {
	font-size: 13px;
	color: #585858;
	padding: 6px 0;
}

.find-us ul li i {
	color: #fccb05;
	width: 22px;
	font-size: 16px;
}

/* ------------------------------
  Error 404
---------------------------------*/
.error404 {
	text-align: center;
}

.error404 h4 {
	padding-top: 28px;
	display: inline-block;
	letter-spacing: 2px;
	margin-bottom: 10px;
	border-radius: 50%;
	font-size: 110px;
}

/*loader custom color*/
.double-bounce1, .double-bounce2 {
	background-color: #fccb05;
}


/* ------------------------------
  Footer
---------------------------------*/
.footer {
	background: #232323;
	padding: 35px 0;
}

.about-us-foot {
	text-align: center;
	color: #fff;
}

.about-us-foot span {
	color: #fccb05;
}

.about-us-foot h6 {
	color: #ffffff;
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.social-media {
	text-align: center;
	margin: 18px 0 0;
	padding-bottom: 20px;
	/*border-bottom: 1px solid #bbb;*/
}

.social-media a {
	margin: 0 3px;
}

.social-media a i {
	text-align: center;
	color: #ffffff; 
	height: 35px;
	width: 35px;
	margin: auto;
	border-radius: 50%;
	line-height: 32px;
}

.copyright {
	text-align: center;
	padding: 20px 0 0 0;
}

.copyright span {
	color: #eeeeee;
	text-align: center;
}
.padt20{padding-top: 65%}
.padt40{padding-top: 40px}
.padt10{padding-top: 10px}
.padt25{padding-top: 25px}
.padaa {padding: 10px 0px 10px 20px;}
.mart40{margin-top: 40px}
.mart10{margin-top: 10px}
.mart20{margin-top: 20px}
.bltxt {font-size: 9px; color: #276db0}
.blatxt {font-size: 11px; color: #808080}
.border2 {border: 1px solid #ddd !important}
.border3 {border: 1px solid #848282  !important}
.shopheight { height: 112px;}
.shopheight1 { height: 100px; padding-top: 20px; 
    background-color: #56627257;}

.button-default1 {
	background: #c8e7e6;
	color: #4c513a;
	box-shadow: none; 
	border: 1px solid #c8e7e6; 
	display: inline-block;
	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    width: 220px;
    border-radius: 32px;
}
  .button-default2 {
	background: #ffcd00;
	color: #4c513a;
	box-shadow: none; 
	border: 1px solid #ffcd00; 
	display: inline-block;
	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 45px;
    width: 220px;
    border-radius: 32px;
}
    .button-default3 {
background: #5c707d;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #5c707d;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    width: 160px;
    border-radius: 32px;
    position: relative;
    bottom: -21px;
}
.facebook {
        background: #3b5998;
        border:1px solid  #3b5998;
        height: 55px !important;
    width: 55px !important;
    line-height: 52px !important;
    font-size: 30px;
}
.google {
        background: #dd4b39;
        border:1px solid  #dd4b39;
        height: 55px !important;
    width: 55px !important;
    line-height: 52px !important;
    font-size: 30px;
}
.border1 {
    border-right: 1px solid #999;
}
  h6.background {
    position: relative;
    z-index: 1;
} 
  h6.background:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
   h6.background span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
         text-align: center !important; font-size: 22px !important; line-height:32px;
    
       display: inline-block;
        padding: 0 15px; 

    }
.singup {
font-size: 14px;
    font-weight: 500;
    padding-top: 10px !important;}
   
/****  floating-Lable css  ****/

.floatings-labels {
    position: relative;
    margin-bottom: 10px;
    margin-top: 14px; 
}
.floating-input:required {
    box-shadow: none;
}
.floating-input,
.floating-select {
    font-size: 14px;
    padding: 4px 4px !important;
    display: block;
    color: #ffffff !important;
    width: 100%;
    height: 35px !important;
    background-color: transparent !important;  
    outline: none;
}
.lbltop {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 1px;
    top: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.floating-input:focus ~ .lbltop,
.floating-input:not(:placeholder-shown) ~ .lbltop {
    top: -11px;
    font-size: 14px;
    color: #e0b700; 
    padding: 0px; 
}
.floating-input:focus ~ .lbltop,
.floating-input:not(:-ms-input-placeholder) ~ .lbltop {
    top: -16px;
    font-size: 14px;
    color: #e0b700;
    left: 10px;
    padding: 0px 5px;
    background-color: #fff;
}
.floating-select,
select[disabled=''],
select:not([value='']) ~ .lbltop {
    top: -18px;
    font-size: 14px;
    color: #e0b700;
    
    background-color: #fff;
}
.floating-input:focus ~ .lbltop {
    top: -16px;
    font-size: 14px;
    color: #e0b700;
    left: 0px;
}
.floating-input:disabled ~ .lbltop {
    color: #999;
}
.floating-input:disabled ~ .lbltop1 {
    color: #e0b700;
}
.floating-select:focus ~ .lbltop,
.floating-select:not([value=""]):valid ~ .lbltop {
    top: -18px;
    font-size: 14px;
    color: #e0b700;
}
/* active state */

.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
    width: 50%;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}
/* highlighter */

.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

.floating-input:focus ~ .highlight,
.floating-select:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
.floating-input[disabled],
.floating-input[readonly] {
    color: #999;
    background-color: transparent;
    /*border-bottom-style: dashed;*/
}



/* Animated Floating Text - White - End */


/* Animated Floating Text - Black - Start */


.floatings-labels1 {
    position: relative;
    margin-bottom: 15px;
    margin-top: 14px; 
}
.floating-input1:required {
    box-shadow: none;
}
.floating-input1,
.floating-select1 {
    font-size: 14px;
    padding: 4px 4px !important;
    display: block;
    color: #333 !important;
    width: 100%;
    height: 35px !important;
    background-color: transparent !important;  
    outline: none;
    border:0px !important;
    border-bottom: 1px solid #ddd !important;
}
.lbltop11 {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 1px;
    top: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.floating-input1:focus ~ .lbltop11,
.floating-input1:not(:placeholder-shown) ~ .lbltop11 {
    top: -11px;
    font-size: 14px;
    color: #e0b700; 
    padding: 0px; 
}
.floating-input1:focus ~ .lbltop11,
.floating-input1:not(:-ms-input-placeholder) ~ .lbltop11 {
    top: -16px;
    font-size: 14px;
    color: #e0b700;
    left: 10px;
    padding: 0px 5px;
    background-color: #fff;
}
.floating-select1,
select[disabled=''],
select:not([value='']) ~ .lbltop11 {
    top: -18px;
    font-size: 14px;
    color: #e0b700;
    
    background-color: #fff;
}
.floating-input1:focus ~ .lbltop11 {
    top: -16px;
    font-size: 14px;
    color: #e0b700;
    left: 0px;
}
.floating-input1:disabled ~ .lbltop11 {
    color: #999;
}
.floating-input1:disabled ~ .lbltop12 {
    color: #e0b700;
}
.floating-select1:focus ~ .lbltop11,
.floating-select1:not([value=""]):valid ~ .lbltop11 {
    top: -18px;
    font-size: 14px;
    color: #e0b700;
}
/* active state */

.floating-input1:focus ~ .bar:before,
.floating-input1:focus ~ .bar:after,
.floating-select1:focus ~ .bar:before,
.floating-select1:focus ~ .bar:after {
    width: 50%;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.floating-textarea1 {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}
/* highlighter */

.highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */

.floating-input1:focus ~ .highlight,
.floating-select1:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
.floating-input1[disabled],
.floating-input1[readonly] {
    color: #999;
    background-color: transparent;
    /*border-bottom-style: dashed;*/
}







.imgslide {
    color: #fff;
    background-color: #ffcd00;
    height: 100px !important;
    line-height: 50px;
    width: 100px !important;
    text-align: center !important;
    position: fixed;
    left: -45px;
    border-radius: 50%; 
    border: 1px solid #fff;
}

.trip {
color: #fff;
background-color: #ffcd00;
height: 50px;
line-height: 50px;
width: 60px;
text-align: center !important;
position: fixed;
left: 0px;
  border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.trip3 {
color: #fff;
background-color: #8fcb66;
height: 50px;
font-weight: 600;
padding-top: 5px;
    line-height: 20px;
width: 60px;
text-align: center !important;
position: fixed;
left: 0px;
  border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.trip4 {
color: #fff;
background-color: #75cbcf;
height: 50px;
font-weight: 600;
padding-top: 5px;
    line-height: 20px;
width: 60px;
text-align: center !important;
position: fixed;
left: 0px;
  border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.colortheme {color:  #ffcd00 !important}
.colorgray {color:  #dddddd !important}
.stat2 {color:  #b0dedf !important; font-weight: 600;}
.stat3 {color:  #6e808b !important; font-weight: 600; font-size: 14px;}


.colorwhite {color:  #ffffff !important}
.mb10 {margin-bottom: 5px;}
.mb20 {margin-bottom: 20px;}
.logintitle1 {
text-align: left;
    padding-left: 67px;
    padding-top: 12px;}
.font12 {font-size: 12px;}


.footer-bottom {
    background: #ecf1f5;
    width: 100%;
    height: 60px;
    padding: 6px; 
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 -5px 5px -5px #d4d8db;
}
    .footer-bottom h6 {
        margin: 5px 0;
        font-size: 11px;
        text-align: center;
    }

    .shop1 {
	background: #ffffff;
    border-radius:10px;
	padding: 10px;
	text-align: center; 
}

    .button-verify {
    background: #cbf0f0;
    position: absolute;
    float: right;
    right: 11px;
    color: #4c513a;
    box-shadow: none;
    border: 1px solid #cbf0f0;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    width: 104px;
    height: 27px;
    border-radius: 32px;
    z-index: 999999;
}
.bbtxt {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
    font-size: 22px;
}
.bbtxt1 { 
    font-size: 9px;
}
.fbbtbr {
    padding-top: 5px;

    border-right: 1px solid #ddd;}

.comment-details img {
    border-radius: 50%;
}

.comment-details .overlay {
   
    background: #fccb05;
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
        z-index: 99;
    left: 8px;
}
.whitebr {
background-color: #ffffff;
padding: 10px 5px 8px 5px;
border-radius: 8px;
}
.bid {
       font-family: 'Montserrat', sans-serif;
    padding: 2px 23px; 
    color: #ffffff;
background-color: #7ed321;
    font-size: 11px;
    font-weight: 600;
border-radius: 8px;
}
.bid1 {
       font-family: 'Montserrat', sans-serif;
    padding: 2px 23px; 
    color: #ffffff;
background-color: #2ebfd9;
    font-size: 11px;
    font-weight: 600;
border-radius: 8px;
}
.bid2 {
       font-family: 'Montserrat', sans-serif;
    padding: 2px 23px; 
    color: #ffffff;
background-color: #f2695a;
    font-size: 11px;
    font-weight: 600;
border-radius: 8px;
}
.imgoverlay {
    position: absolute;
    left: 15px;
    border: 1px solid #ddd;
    padding: 1px;
    background-color: #ffffff;
    width: 50px;height:50px;
}
.btmtxt {

    font-size: 8px;
    font-weight: bold;}


/*tab menu*/

       .nav-tabs {
           border-bottom: 1px solid #ddd;
    margin: 0px  !important;
       }

           .nav-tabs > li {
               float: left; 
               
    margin: 0px  !important;
           }

               .nav-tabs > li > a {
                  
    padding: 11px 39px;
                   line-height: 3; 
                        color: #fff;
    cursor: default;
    background-color: #566272; 
               }

                   .nav-tabs > li > a:hover {
                       border-color: #eee #eee #ddd;
                   }

               .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
              color: #fff;
    cursor: default;
    background-color: #566272; 
         
               }

           .nav-tabs.nav-justified {
               width: 100%;
               border-bottom: 0;
           }

               .nav-tabs.nav-justified > li {
                   float: none;
               }

                   .nav-tabs.nav-justified > li > a {
                       margin-bottom: 5px;
                       text-align: center;
                   }

               .nav-tabs.nav-justified > .dropdown .dropdown-menu {
                   top: auto;
                   left: auto;
               }

       @media (min-width:768px) {
           .nav-tabs.nav-justified > li {
               display: table-cell;
               width: 1%;
           }

               .nav-tabs.nav-justified > li > a {
                   margin-bottom: 0;
               }
       }

       .nav-tabs.nav-justified > li > a {
           margin-right: 0;
           border-radius: 4px;
       }

       .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
           border: 1px solid #ddd;
       }

       @media (min-width:768px) {
           .nav-tabs.nav-justified > li > a {
               border-bottom: 1px solid #ddd;
               border-radius: 4px 4px 0 0;
           }

           .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
               border-bottom-color: #fff;
           }
       }

       .nav-pills > li {
           float: left;
       }

           .nav-pills > li > a {
               border-radius: 4px;
           }

           .nav-pills > li + li {
               margin-left: 2px;
           }

           .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
               color: #fff;
               background-color: #337ab7;
           }

       .nav-stacked > li {
           float: none;
       }

           .nav-stacked > li + li {
               margin-top: 2px;
               margin-left: 0;
           }

       .nav-justified {
           width: 100%;
       }

           .nav-justified > li {
               float: none;
           }

               .nav-justified > li > a {
                   margin-bottom: 5px;
                   text-align: center;
               }

           .nav-justified > .dropdown .dropdown-menu {
               top: auto;
               left: auto;
           }

       @media (min-width:768px) {
           .nav-justified > li {
               display: table-cell;
               width: 1%;
           }

               .nav-justified > li > a {
                   margin-bottom: 0;
               }
       }

       .nav-tabs-justified {
           border-bottom: 0;
       }

           .nav-tabs-justified > li > a {
               margin-right: 0;
               border-radius: 4px;
           }

           .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
               border: 1px solid #ddd;
           }

       @media (min-width:768px) {
           .nav-tabs-justified > li > a {
               border-bottom: 1px solid #ddd;
               border-radius: 4px 4px 0 0;
           }

           .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
               border-bottom-color: #fff;
           }
       }

       .tab-content > .tab-pane {
           display: none;
       }

       .tab-content > .active {
           display: block;
       }

       .nav-tabs .dropdown-menu {
           margin-top: -1px;
           border-top-left-radius: 0;
           border-top-right-radius: 0;
       }

       .navbar {
           position: relative;
           min-height: 50px;
           margin-bottom: 20px;
           border: 1px solid transparent;
       }
.twitterico {
color: #3db7e4;
font-size: 24px !important;
}
.linkedinio {
     
color: #236aae;
font-size: 24px !important;
}
.facebookico {
color: #5a8eef;
font-size: 24px !important;
}
.twitterico {
color: #3db7e4;
font-size: 14px;
}
.twitterico {
color: #3db7e4;
font-size: 14px;
}